<div class="container">
  <% if session[:user_id] %>
    <h1>Hello <%= User.find(session[:user_id]).first_name %></h1>
  <% else %>
    <h1>Please log in</h1>
  <% end %>
  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
    </tr>
    <% @users.each do |u| %>
    <tr>
      <td><%= u.username %></td>
      <td><%= u.email %></td>
    </tr>
    <% end %>
  </table>
  <%= link_to 'Register', signup_path %>
  <%= link_to 'Log in', login_path %>
</div>