<div class="container">
  <h2>Register here:</h2>
  <%= form_for @user do |f| %>

    <%= f.label 'First name:' %>
    <%= f.text_field :first_name %><br>

    <%= f.label 'Last name:' %>
    <%= f.text_field :last_name %><br>

    <%= f.label 'Email:' %>
    <%= f.text_field :email %><br>

    <%= f.label 'Confirm email:' %>
    <%= f.text_field :email_confirmation %><br>

    <%= f.label 'Password:' %>
    <%= f.password_field :password %><br>

    <%= f.label 'Confirm password:' %>
    <%= f.password_field :password_confirmation %><br>

    <%= f.submit "Create" %>
  <% end %>
  <%= button_to "Back", root_path,  method: "get" %>

</div>